@model ViviGest.Dtos.CorrespondenciaDto

@{
    ViewBag.Title = "Editar Correspondencia";
    Layout = "~/Views/Shared/_Layout_guarda.cshtml";
}

<h2>Editar Correspondencia</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.id_correspondencia)

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.destinatario)
        @Html.TextBoxFor(m => m.destinatario, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.destinatario)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.tipo_correspondencia)
        @Html.TextBoxFor(m => m.tipo_correspondencia, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.tipo_correspondencia)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.numero_apartamento)
        @Html.TextBoxFor(m => m.numero_apartamento, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.numero_apartamento)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.remitente)
        @Html.TextBoxFor(m => m.remitente, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.remitente)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.estado)
        @Html.TextBoxFor(m => m.estado, new { @class = "form-control", @readonly = "readonly" })
    </div>


    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    @Html.ActionLink("Cancelar", "Index", new { idUsuario = Model.destinatario }, new { @class = "btn btn-secondary ms-2" })
}
