@model ViviGest.Dtos.usuariosDto

@{
    ViewBag.Title = "Editar Residente";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2>Editar Residente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.id_usuario)

    <div class="form-group">
        @Html.LabelFor(m => m.nombres)
        @Html.TextBoxFor(m => m.nombres, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.nombres, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.apellidos)
        @Html.TextBoxFor(m => m.apellidos, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.apellidos, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.numero_documento)
        @Html.TextBoxFor(m => m.numero_documento, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.numero_documento, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.correo_electronico)
        @Html.TextBoxFor(m => m.correo_electronico, new { @class = "form-control", type = "email" })
        @Html.ValidationMessageFor(m => m.correo_electronico, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.telefono)
        @Html.TextBoxFor(m => m.telefono, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.telefono, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.contrasena)
        @Html.PasswordFor(m => m.contrasena, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.contrasena, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
}
